@media screen and (max-width: 767px) {
    .hidden-mobile {
        display: none;
    }
    
    .scct-wrapper {
        margin-bottom: 10px;
        max-height: 100%;
    }
    
    .scct-wrapper.collapsed {
        max-height: 25px;
    }
}