@media screen and (min-width: 768px) {
    .hidden-desktop {
        display: none;
    }
    
    body {
        overflow: scroll;
        height: 100%;
        margin: 0px;
        box-sizing: border-box;
        -moz-box-sizing:border-box; /* Firefox */
        border-left: 80px;
        border-top: 0px;
        border-bottom: 0px;
        border-right: 320px;
        border-style: solid;
        border-color: #E6E9EC;
    }
    
    .larger-body {
        overflow: scroll;
        height: 100%;
        margin: 0px;
        box-sizing: border-box;
        -moz-box-sizing:border-box; /* Firefox */
        border-left: 80px;
        border-top: 0px;
        border-bottom: 0px;
        border-right: 10px;
        border-style: solid;
        border-color: #E6E9EC;
    }
    
    .hidden {
        display: none;
    }
    
    .slideshow-wrapper {
        z-index: -1;
    }

    .session-cct.module-media.invert-media .slideshow-wrapper,
    .media-wrapper {
        margin-top: 10px;
    }
    
    .session-cct.module-media.invert-media .slideshow-wrapper,
    .session-cct.module-slideshow .media-wrapper {
        position: relative;
        float: left;
        margin-left: 0px;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .slideshow-wrapper {
        margin-bottom: 5px;
    }
    
    .session-cct.module-slideshow.invert-media .media-wrapper,
    .slideshow-wrapper {
        position: relative;
        margin-top: 40px;
    }
    
    .session-cct.module-slideshow.invert-media .media-wrapper,
    .session-cct.module-media .slideshow-wrapper {
        left: auto;
        right: auto;
        margin-top: 10px;
    }
    
    .session-cct.module-pulse .slideshow-wrapper {
    }
    
    .pulse-wrapper {
        position: fixed;
        right: 10px;
        top: 1%;
        height: 98%;
        width: 300px;
        z-index: 10;
    }
    
    .timeline-wrapper {
        background: white;
        overflow: hidden;
        height: 50px;
        z-index: 10;
        margin-top: 1%;
    }
    
    .toolbar-wrapper {
        position: fixed;
        left: 10px;
        top: 1%;
        height: 98%;
        width: 55px;
    }
}