body {
    background: white;
}

#primary {
    margin: 0;
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
}

.scct-wrapper .title {
    font-size: 15px;
    padding: 5px;
}

.scct-wrapper .module-icon {
    height: 1em;
    vertical-align: bottom;
}

.session-cct .media-wrapper {
    color: black;
    outline: 1px dashed purple;
}

.session-cct .slideshow-wrapper {
    color: black;
    outline: 1px dashed red;
}

.session-cct .pulse-wrapper {
    color: black;
    outline: 1px dashed blue;
}

.session-cct .bookmarks-wrapper {
    color: black;
    outline: 1px dashed green;
}