.slide.markup {
    width: 100%;
    padding-bottom: 61.66%;
    position: relative;
    background: white;
}

.slide.markup .inner {
    padding: 1%;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.slide.image img {
    max-width: 100%;
    max-height: 100%;
}

.slideshow-wrapper .scct-inner-wrapper {
    text-align: center;
    background: white;
}