.pulse-wrapper {
    background: white;
}

.pulse-wrapper .bookmark {
    display: block;
    padding: 3px 11px;
    background: #EEE;
    color: #999;
    font-size: 80%;
    cursor: pointer;
}

.pulse-form-input {
    background: #FFF;
}

.pulse-label {
    font-size: 12px;
    color: #CCCCCC  ;
    text-align: center;
    margin-top: 5px;
}

.pulse-wrapper .bookmark:hover {
    color: #555;
}

.pulse-form {
    border: 0px !important;
}

.pulse-wrapper .bookmark .time {
    float: right;
}

.pulse-wrapper .pulse-list {
    overflow-y: scroll;
    clear: both;
    height: 100%;
}

.pulse-wrapper .postbox,
.pulse-wrapper .postbox-placeholder {
    float: left;
    width: 100%;
}

.pulse-wrapper .pulse-widget {
    overflow: hidden;
    height: 100%;
}

.pulse-wrapper .pulse-author {
    margin-bottom: 3px;
    display: inline-block;
}