.comments-wrapper{
	clear: both;
	width: 100%;
	font-size:80%;
}
#comments{
	padding: 5px 10px;
	background: #FFF;
	max-width: 650px;
	height:100%;
}
.comments-title{
	font-size: 110%;
}

/* comment list */
#comments > .commentlist{
	margin-left: 0;
}
.commentlist,
.commentlist li{
	list-style: none;
	margin-top: 0;
	padding: 0;
}

.comment-item{
	background: #FFF;
	margin-bottom: 20px;
	margin-left: 32px;
}
.comment-item .avatar{
	margin-left: -32px;
	float: left;
	border-radius: 3px;
	width:22px;
	margin-top: 7px;
}
.comment-item textarea{
	font-family: "Helvetica Neue",​arial,​sans-serif;
	padding:2px;
	line-height: 1.5;
	width: 100%;
	height: 20px;
	margin-top: 5px;
}
.comment-content p{
	font-size:90%;
}
.comment-content,
.comment-meta{}
#cancel-comment-reply-link,
.comment-item .comment-action{
	float: right;
	margin-right: 15px;
	margin-top: 8px;
	color:#999;
	font-weight: normal;
	
}
#cancel-comment-reply-link{
	font-size: 12px;
}
.children .comment-item .avatar{
	/* margin-left: -40px;
	width: 32px;
	height:32px; */
}
.children .comment-item{
	margin-left: 40px;
}
.comment-meta{}
.comment-meta a{
	font-size: 80%;
	color:#999;
}
.reply-to b{
	font-weight: normal;
	font-size: 80%;
	color:#999;
}
.comment-content a {
	word-wrap: break-word;
}
.reply-to .genericon-reply{
	line-height: 1.4;
	color:#999;
}
/* Comment Form */
.commentlist .comment-respond{
	margin-left: 60px;
	margin-bottom: 20px;
}
.children .comment-respond{
	margin-left: 40px;
}
#commentform {
	max-width: 665px;
	border-bottom: 1px solid #CCC;
	margin: 0 -10px 10px;
	padding: 0 10px;
}
#commentform p{
	margin-bottom: 10px;
}
.form-submit{
	text-align: right;
}
#commentform p label{
	display: block;
}
.comment-form-email,
.comment-form-author{
	float: left;
	width: 50%;
}
/*--------------------------------------------------------------
4.0 Inputs and buttons
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
textarea {
	color: #666;
	border: 1px solid #ccc;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"]{
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Filter */
.sub-nav dt, .sub-nav dd, .sub-nav li{
	font-size: 80%!important;
}